<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    .modalLabel{
	    	width: 100px;
	    	font-weight: bold;
	    }

	</style>
</head>
<body>

	<div class="card card-body">
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto">
			<h3>GESTIÓN DE ACTAS</h3>
			<label>DNI: </label><input type="text" id="txtDni" onkeydown="handleEnterDni(event)"> <br>
			<input type="hidden" id="txtIdEmpleado">
			<label>NOMBRES: </label><input type="text" id="txtNombres"> <br>
			<label>APELLIDOS: </label><input type="text" id="txtApellidos"> <br>
			<label>CORREO: </label><input type="text" id="txtCorreo"> <br>
			<label>TIPO: </label><select id="listTipo"><option value="A">ASIGNACIÓN</option><option value="D">DEVOLUCIÓN</option></select>
			<button id="btnGuardar" type="button" class="btn btn-primary" onclick="guardarMovimiento()"><i class="fas fa-save"></i>&nbsp;GUARDAR</button>
			<hr>
			<label>SEDE: </label><select id="listSede"></select>&nbsp;<label>DIRECCIÓN: </label><input type="text" id="txtDireccion">
			<label>ÁREA INTERNA: </label><select id="listArea"></select>
			<hr>
			<label>CÓDIGO PATRIMONIAL: </label><input type="text" id="txtCodigo" onkeydown="handleEnterCodigo(event)"><br>
			<table id="tablaBienes" class="table">
				<thead class="thead-dark">
		            <tr>
		                <th>CÓDIGO</th>
		                <th>DESCRIPCIÓN</th>
		                <th>ESTADO</th>
		                <th>OBSERVACIÓN</th>
		                <th>ELIMINAR</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
			</table>

		</div>
	</div>
	<script type="text/javascript">
		var sedes;
	   	$(document).ready(function() {
	   		$.ajax({
	       		type : "GET",
	       		url : "sede",
		        dataType : 'json',
		        success : function(data) {
		        	sedes = data;
		         	var html = '';
		         	var len = data.length;
		         	html+='<option value="0">SELECCIONE ...</option>';
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listSede").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	   	});
	 </script>
	 
	 <script>
	 
			$("#listTipo").change(function() {	 				
				var tabla = document.getElementById("tablaBienes");
	            var filas = tabla.getElementsByTagName("tr");
				for (var i = filas.length - 1; i > 0; i--) {
				    tabla.deleteRow(i);
				}
			});
			
	 		$("#listSede").change(function() {	 				
	 			var	instanciaSelect = document.getElementById("listArea");
				const sedeId = parseInt($(this).find(":selected").val());
				const sedeSeleccionada = sedes.find((sede) => sede.id === sedeId);
		
				instanciaSelect.innerHTML = '<option value="" disabled selected>Selecciona un area</option>';
		
				if (sedeSeleccionada) {
				$('#txtDireccion').val(sedeSeleccionada.direccion);
				    sedeSeleccionada.areas.forEach((area) => {
				      	const option = document.createElement("option");
						option.value = area.id;
						option.textContent = area.denominacion;
						instanciaSelect.appendChild(option);
					});
				}
			});
			 
		function handleEnterCodigo(event) {
	         if (event.key === "Enter") {
	         	var codigo = $('#txtCodigo').val();
	         	var idEmpleado = $('#txtIdEmpleado').val();
	         	var tipoActa = $('#listTipo').val();
	         	$('#txtCodigo').val('');
	         	if(codigo.length != 12){
						toastr.clear();
						toastr.options = {
							"closeButton":true,
							"progressBar": true,
							"positionClass":"toast-topcenter-right"
						};
						toastr.warning("Código no es correcto!!");
						return;
	         	}
	         	
	         	var tabla = document.getElementById("tablaBienes");
	    		var tbody = tabla.querySelector('tbody');
	            var filas = tabla.getElementsByTagName("tr");
	         	
	             for (var i = 1; i < filas.length; i++) {
	                 var celdas = filas[i].getElementsByTagName("td");
	                 if (celdas[0].innerHTML === codigo) {
	     				toastr.clear();
	     				toastr.options = {
	     					"closeButton":true,
	     					"progressBar": true,
	     					"positionClass":"toast-topcenter-right"
	     				};
	     				toastr.warning("Ya existe un bien con el mismo codigo");	
	                     return false;
	                 }
	             }
	             
	         	$.ajax({
	 	       		type : "GET",
	 	       		url : "bien/buscar?codigo=" + codigo + "&idEmpleado=" + idEmpleado + "&tipoActa=" + tipoActa,
	 		        dataType : 'json',
	 		        success : function(data) {
	 		        	var fila = tbody.insertRow();
	
	 		            var celda1 = fila.insertCell(0);
	 		            var celda2 = fila.insertCell(1);
	 		            var celda3 = fila.insertCell(2);
	 		            var celda4 = fila.insertCell(3);
	 		           	var celda5 = fila.insertCell(4);
	 		            
	 		            // Asignar valores a las celdas
	 		            celda1.innerHTML = data.codigoPatrimonial;
	 		            celda2.innerHTML = data.descripcion;
	 		            celda3.innerHTML = '<select id="listEstado"><option value="B">BUENO</option><option value="R">REGULAR</option><option value="M">MALO</option></select>';
	 		            celda4.innerHTML = '<input type="text" id="txtObservacion" />';
	 		           	celda5.innerHTML = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="eliminarFila(this)"><i class="fas fa-minus"></i></button>';
	
	 		        },
	 		        error : function(response){
	 		        	var r = jQuery.parseJSON(response.responseText);
	 					toastr.clear();
	 					toastr.options = {
	 						"closeButton":true,
	 						"progressBar": true,
	 						"positionClass":"toast-topcenter-right"
	 					};
	 					toastr.warning(r.message);	
	 		        }
	 	      	});
	         }
	     }
		 
        function handleEnterDni(event) {
            if (event.key === "Enter") {
            	var dni = $('#txtDni').val(); 
            	if(dni.length != 8){
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning("Dni no es correcto!!");
					return;
            	}
            	
            	$.ajax({
    	       		type : "GET",
    	       		url : "usuario/buscar/" + dni,
    		        dataType : 'json',
    		        success : function(data) {
						$('#txtIdEmpleado').val(data.id);
						$('#txtNombres').val(data.nombres);
						$('#txtApellidos').val(data.apellidos);
						$('#txtCorreo').val(data.correo);
    		        },
    		        error : function(response){
    		        	var r = jQuery.parseJSON(response.responseText);
    					toastr.clear();
    					toastr.options = {
    						"closeButton":true,
    						"progressBar": true,
    						"positionClass":"toast-topcenter-right"
    					};
    					toastr.warning(r.message);	
    		        }
    	      	});
            }
        }
        
        function guardarMovimiento() {
         	var tabla = document.getElementById("tablaBienes");
            var filas = tabla.getElementsByTagName("tr");
            
            var bienes = [];
            
        	var idEmpleado = $('#txtIdEmpleado').val();
        	if(idEmpleado == '' || filas < 2 || $('#listArea').val() == ''){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar toda información requerida");
				return;
        	}
        	
			$('#tablaBienes tbody tr').each(function() {
				var bien = {};
				bien["codigoPatrimonial"] = $(this).find("td:eq(0)").text();
				bien["estadoConservacion"] = $(this).find("td:eq(2) select").val();
				bien["observacion"] = $(this).find("td:eq(3)").text();
				bienes.push(bien);
			});
            
            var movimiento = {
            	idEmpleado : idEmpleado,
            	correo : $('#txtCorreo').val(),
            	tipo : $('#listTipo').val(),
            	idArea : $('#listArea').val(),
            	bienes: bienes
            };
        	
            $.ajax({
				type: "POST",
				url: "acta",
				data: JSON.stringify(movimiento),
				cache: false,
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				processData: false,
				success:function(response) {
					var tabla = document.getElementById("tablaBienes");
		            var filas = tabla.getElementsByTagName("tr");
					for (var i = filas.length - 1; i > 0; i--) {
					    tabla.deleteRow(i);
					}
					Swal.fire(
						'MOVIMIENTO REGISTRADO CORRECTAMENTE!!',
						'Click en OK para continuar!',
						'success'
					);	
				},
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
			});
            
        }
        
        function eliminarFila(boton) {
            var fila = boton.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }
        
    </script>
</body>
</html>