<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="css/loader.css" >
	<style type="text/css">

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    label{
	    	font-weight: bold;
	    	width: 130px;
	    }
	    
	</style>
	
</head>
<body>

	<div class="card card-body">
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto; display: flex;">
			<h3>GESTIÓN DE MOVIMIENTOS</h3>
		</div>
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto; display: flex;">
			<div style="width: 50%;" id="divBusqueda" class="interno izquierdo"><br>
				<label>NOMBRES: </label><input type="text" id="txtEmpleado" onkeydown="handleEnterDni(event)"> <br>
			</div>
			<div style="width: 50%; padding: 10px" id="divResultado" class="interno derecho">
				<button type="button" class="btn btn-outline-info" onclick="buscarActa()"><i class="fas fa-search"></i>&nbsp;BUSCAR</button>
				<button type="button" class="btn btn-outline-dark" onclick="abrirModal()"><i class="fas fa-file"></i>&nbsp;NUEVO</button>
			</div>
		</div>
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto">
			<hr>
			<table id="tablaActas" class="table">
				<thead class="thead-dark">
		            <tr>
		                <th>NUMERO</th>
		                <th>EMPLEADO</th>
		                <th>REGISTRO</th>
		                <th>ESTADO</th>
		                <th>VISTA</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
			</table>
		</div>
	</div>
	
	<div class="modal fade modalNuevo" id="modalNuevo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
		    <div class="modal-content">
			    <div class="modal-body" align="justify">
			      	<div style="width:100%; height:100%">
		      			<div  style="width:90%; height: 100%; font-size: 11px; margin: auto; display: flex;">
							<div style="width: 50%;" id="divBusqueda" class="interno izquierdo">
								<h5>NUEVO MOVIMIENTO</h5>
								<hr>
								<label>DNI: </label><input type="text" id="txtDni" onkeydown="handleEnterDni(event)"> <br>
								<input type="hidden" id="txtIdEmpleado">
								<label>NOMBRES: </label><input type="text" id="txtNombres" size="30"> <br>
								<label>APELLIDOS: </label><input type="text" id="txtApellidos" size="30"><br>
								<label>CORREO: </label><input type="text" id="txtCorreo" size="30"><br>
								<label>CARGO: </label><input type="text" id="txtCargo" size="30"><br>
								<label>TIPO: </label><select id="listTipo"><option value="A">ASIGNACIÓN</option><option value="D">DEVOLUCIÓN</option></select>
							</div>
							<div style="width: 50%; padding: 10px" id="divResultado" class="interno derecho">
								<button id="btnGuardar" type="button" class="btn btn-primary" onclick="guardarMovimiento()"><i class="fas fa-save"></i>&nbsp;GUARDAR</button>
								<button id="btnCancelar" type="button" class="btn btn-dark" onclick="cancelarMovimiento()"><i class="fas fa-times"></i>&nbsp;CANCELAR</button>
							</div>
						</div>
						<div  style="width:90%; height: 100%; font-size: 11px; margin: auto">
						<hr>
							<label>ORIGEN: </label><input type="text" id="txtOrigen" size="50" value="OFICINA DE CONTROL PATRIMONIAL"><br>
							<label>DIRECCIÓN ORIGEN: </label><input type="text" id="txtDireccionOrigen" size="50" value="PALACIO DE JUSTICIA - AV SIGLO XX S/N"><br>
							<label>SEDE DESTINO: </label><select id="listSede"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>DIRECCIÓN DESTINO: </label><input type="text" id="txtDireccion" size="40"><br>
							<label>ÁREA INTERNA: </label><select id="listArea"></select>
							<hr>
							<label>CÓDIGO PATRIMONIAL: </label><input type="text" id="txtCodigo" onkeydown="handleEnterCodigo(event)"><br><br>
							<table id="tablaBienes" class="table">
								<thead class="thead-dark">
						            <tr>
						                <th>CÓDIGO</th>
						                <th>DESCRIPCIÓN</th>
						                <th>ESTADO</th>
						                <th>OBSERVACIÓN</th>
						                <th>ELIMINAR</th>
						            </tr>
						        </thead>
						        <tbody>
						        </tbody>
							</table>
						</div>
	            	</div>
			    </div>
			</div>
		</div>
	</div>
	
	<div class="modal fade modalEspera" id="modalEspera" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
			    <div class="modal-body" align="justify">
			      	<div style="width:100%; height:100%">
		      			<div style=" margin: auto;" >
							<div style="position: relative; width: 100%; height: 100%;">
								<div style="background-color: white; width: 100%; height: 100%; padding-top:15px; padding-bottom: auto; padding-left: auto; padding-right: auto; " align="center">
									<div align="center">
										<img alt="ayuda" src="img/corte.png" width="250px">
									</div><br>
									<div class="col-sm-2" style="height: 150px">
						                <div class="container">
										      <div class="wrapper">
										        <div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										</div>
										<div class="text">
										<p><strong>ESPERE</strong></p></div>
										</div>
						            </div>
								</div>
							</div>
						</div>
	            	</div>
			    </div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var sedes;
	   	$(document).ready(function() {
	   		$.ajax({
	       		type : "GET",
	       		url : "sede",
		        dataType : 'json',
		        success : function(data) {
		        	sedes = data;
		         	var html = '';
		         	var len = data.length;
		         	html+='<option value="0">SELECCIONE ...</option>';
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listSede").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	   	});
	 </script>
	 
	 <script>
	 
 		function abrirModal(){
 			$('#modalNuevo').modal('show');
 		}
 
		$("#listTipo").change(function() {	 				
			var tabla = document.getElementById("tablaBienes");
            var filas = tabla.getElementsByTagName("tr");
			for (var i = filas.length - 1; i > 0; i--) {
			    tabla.deleteRow(i);
			}
		});
		
 		$("#listSede").change(function() {	 				
 			var	instanciaSelect = document.getElementById("listArea");
			const sedeId = parseInt($(this).find(":selected").val());
			const sedeSeleccionada = sedes.find((sede) => sede.id === sedeId);
	
			instanciaSelect.innerHTML = '<option value="" disabled selected>Selecciona un area</option>';
	
			if (sedeSeleccionada) {
			$('#txtDireccion').val(sedeSeleccionada.direccion);
			    sedeSeleccionada.areas.forEach((area) => {
			      	const option = document.createElement("option");
					option.value = area.id;
					option.textContent = area.denominacion;
					instanciaSelect.appendChild(option);
				});
			}
		});
			 
		function handleEnterCodigo(event) {
	         if (event.key === "Enter") {
	         	var codigo = $('#txtCodigo').val();
	         	var idEmpleado = $('#txtIdEmpleado').val();
	         	var tipoActa = $('#listTipo').val();
	         	$('#txtCodigo').val('');
	         	if(codigo.length != 12){
						toastr.clear();
						toastr.options = {
							"closeButton":true,
							"progressBar": true,
							"positionClass":"toast-topcenter-right"
						};
						toastr.warning("Código no es correcto!!");
						return;
	         	}
	         	
	         	var tabla = document.getElementById("tablaBienes");
	    		var tbody = tabla.querySelector('tbody');
	            var filas = tabla.getElementsByTagName("tr");
	         	
	             for (var i = 1; i < filas.length; i++) {
	                 var celdas = filas[i].getElementsByTagName("td");
	                 if (celdas[0].innerHTML === codigo) {
	     				toastr.clear();
	     				toastr.options = {
	     					"closeButton":true,
	     					"progressBar": true,
	     					"positionClass":"toast-topcenter-right"
	     				};
	     				toastr.warning("Ya existe un bien con el mismo codigo");	
	                     return false;
	                 }
	             }
	             
	         	$.ajax({
	 	       		type : "GET",
	 	       		url : "bien/buscar?codigo=" + codigo + "&idEmpleado=" + idEmpleado + "&tipoActa=" + tipoActa,
	 		        dataType : 'json',
	 		        success : function(data) {
	 		        	var fila = tbody.insertRow();
	
	 		            var celda1 = fila.insertCell(0);
	 		            var celda2 = fila.insertCell(1);
	 		            var celda3 = fila.insertCell(2);
	 		            var celda4 = fila.insertCell(3);
	 		           	var celda5 = fila.insertCell(4);
	 		            
	 		            // Asignar valores a las celdas
	 		            celda1.innerHTML = data.codigoPatrimonial;
	 		            celda2.innerHTML = data.descripcion;
	 		            celda3.innerHTML = '<select id="listEstado"><option value="B">BUENO</option><option value="R">REGULAR</option><option value="M">MALO</option></select>';
	 		            celda4.innerHTML = '<input type="text" id="txtObservacion" />';
	 		           	celda5.innerHTML = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="eliminarFila(this)"><i class="fas fa-minus"></i></button>';
	
	 		        },
	 		        error : function(response){
	 		        	var r = jQuery.parseJSON(response.responseText);
	 					toastr.clear();
	 					toastr.options = {
	 						"closeButton":true,
	 						"progressBar": true,
	 						"positionClass":"toast-topcenter-right"
	 					};
	 					toastr.warning(r.message);	
	 		        }
	 	      	});
	         }
	     }
		 
        function handleEnterDni(event) {
            if (event.key === "Enter") {
            	var dni = $('#txtDni').val(); 
            	if(dni.length != 8){
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning("Dni no es correcto!!");
					return;
            	}
            	
            	$.ajax({
    	       		type : "GET",
    	       		url : "usuario/buscar/" + dni,
    		        dataType : 'json',
    		        success : function(data) {
						$('#txtIdEmpleado').val(data.id);
						$('#txtNombres').val(data.nombres);
						$('#txtApellidos').val(data.apellidos);
						$('#txtCorreo').val(data.correo);
    		        },
    		        error : function(response){
    		        	var r = jQuery.parseJSON(response.responseText);
    					toastr.clear();
    					toastr.options = {
    						"closeButton":true,
    						"progressBar": true,
    						"positionClass":"toast-topcenter-right"
    					};
    					toastr.warning(r.message);	
    		        }
    	      	});
            }
        }
        
        function guardarMovimiento() {
         	var tabla = document.getElementById("tablaBienes");
            var filas = tabla.getElementsByTagName("tr");
            
            var bienes = [];
            
        	var idEmpleado = $('#txtIdEmpleado').val();
        	if(idEmpleado == '' || filas < 2 || $('#listArea').val() == ''){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar toda información requerida");
				return;
        	}
        	
			$('#tablaBienes tbody tr').each(function() {
				var bien = {};
				bien["codigoPatrimonial"] = $(this).find("td:eq(0)").text();
				bien["estadoConservacion"] = $(this).find("td:eq(2) select").val();
				bien["observacion"] = $(this).find("td:eq(3)").text();
				bienes.push(bien);
			});
            
            var movimiento = {
            	idEmpleado : idEmpleado,
            	correo : $('#txtCorreo').val(),
            	tipo : $('#listTipo').val(),
            	idArea : $('#listArea').val(),
            	bienes: bienes
            };
        	
            $.ajax({
				type: "POST",
				url: "acta",
				data: JSON.stringify(movimiento),
				cache: false,
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				processData: false,
				beforeSend:function(){
		            $('#modalEspera').modal('show');
		        },
				success:function(response) {
					var tabla = document.getElementById("tablaBienes");
		            var filas = tabla.getElementsByTagName("tr");
					for (var i = filas.length - 1; i > 0; i--) {
					    tabla.deleteRow(i);
					}
					var mensaje = response.mensaje;
					var icon = response.status == 'OK' ? "'success'" : "'info'";
					$('#modalEspera').modal('hide');
					Swal.fire(
						mensaje,
						'Click en OK para continuar!',
						icon
					);	
				},
		        error : function(response){
		        	setTimeout(function() {
		        		$('#modalEspera').modal('hide');
			        	var r = jQuery.parseJSON(response.responseText);
						toastr.clear();
						toastr.options = {
							"closeButton":true,
							"progressBar": true,
							"positionClass":"toast-topcenter-right"
						};
						toastr.warning(r.message);	
		        	}, 2000);
		        }
			});
            
        }
        
        function cancelarMovimiento() {
        	$('#modalNuevo').modal('hide');
        }
        
        function eliminarFila(boton) {
            var fila = boton.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }
        
        function buscarActa() {
        	var empleado = $('#txtEmpleado').val();
            if (empleado != '') {
            	
	         	var tabla = document.getElementById("tablaActas");
	    		var tbody = tabla.querySelector('tbody');
	            var filas = tabla.getElementsByTagName("tr");
	            
            	$.ajax({
    	       		type : "GET",
    	       		url : "acta/" + empleado,
    		        dataType : 'json',
    		        success : function(data) {
						for (var i = 0; i < data.length; i++) { 
							var fila = tbody.insertRow();
	
				            var celda1 = fila.insertCell(0);
				            var celda2 = fila.insertCell(1);
				            var celda3 = fila.insertCell(2);
				            var celda4 = fila.insertCell(3);
				            var celda5 = fila.insertCell(4);
				            var celda6 = fila.insertCell(5);
				            var celda7 = fila.insertCell(6);
				            var celda8 = fila.insertCell(7);
				            var celda9 = fila.insertCell(8);
				            
				            celda1.innerHTML = data[i].numeroActa;
				            celda2.innerHTML = data[i].nombresApellidos;
				            celda3.innerHTML = data[i].fecRegistro;
				            var estado = data[i].estado;
			                if(data[i].estado == 'REGISTRADO')
			                	estado = '<span class="badge badge-warning">REGISTRADO</span>';
			                else if (data[i].estado == 'NOTIFICADO')
				                estado = '<span class="badge badge-primary">NOTIFICADO</span>';
			                else
			                	estado = '<span class="badge badge-success">CONFIRMADO</span>';
			                celda4.innerHTML = estado;
				            celda5.innerHTML = '<button type="button" class="btn btn-outline-danger"><i class="fas fa-file-pdf" onclick="abrirActa(' + data[i].idActa + ')"></i></button>';
						}
    		        },
    		        error : function(response){
    		        	var r = jQuery.parseJSON(response.responseText);
    					toastr.clear();
    					toastr.options = {
    						"closeButton":true,
    						"progressBar": true,
    						"positionClass":"toast-topcenter-right"
    					};
    					toastr.warning(r.message);	
    		        }
    	      	});
            }
        }
        
    </script>
</body>
</html>