<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    label, h6{
	    	width: 150px;
	    	font-weight: bold;
	    }
	    #contenedor {
		    display: flex;
		    width: 100%;
		}
		
		.interno {
		    transition: all 0.5s ease; /* Animación suave */
		    box-sizing: border-box;
		}
		
		.izquierdo {
		    background-color: white;
		    width: 50%; /* Ancho inicial del div izquierdo */
		}
		
		.derecho {
		    background-color: white;
		    width: 50%; /* Ancho inicial del div derecho */
		}

	</style>
</head>
<body>
	
	<div class="card card-body">
		<div style="width:100%; height: 100%; font-size: 11px">
			<h3>GESTIÓN DE BIENES</h3>
			<hr>
			<div id="contenedor">
				<div style="width: 35%;" id="divBusqueda" class="interno izquierdo">
					<h6>BÚSQUEDA</h6><br>
					<input type="text" id="txtAdquisicion">&nbsp;<button class="btn btn-info btn-sm" id="btnBuscar" type="button" onclick="buscarAdquisicion()"><i class="fas fa-search"></i></button><br><br>
					<table id="tablaAdquisicion" class="table">
						<thead class="thead-dark">
				            <tr>
				                <th>DOCUMENTO</th>
				                <th>REGISTRO</th>
				                <th>ESTADO</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody>
				        </tbody>
					</table>
				</div>
				<div style="width: 65%; padding: 10px" id="divResultado" class="interno derecho">
					<div style="display: flex; width: 100%;">
						<div style="width: 50%;">
							<h6>ADQUISICIÓN</h6>
							<input type="hidden" id="txtId">
							<label>N° DOCUMENTO: </label><input type="text" id="txtDocumento"> <br>
							<label>FECHA DOCUMENTO: </label><input type="text" id="txtFecAdquisicion"> <br>
							<label>FECHA REGISTRO: </label><input type="text" id="txtFecRegistro"> <br>
							<label>ESTADO: </label><input type="text" id="txtEstado">
						</div>
						<div style="width: 50%; margin: auto" align="center">
							<button id="btnGuardar" type="button" class="btn btn-primary" onclick="guardarBienes()">GUARDAR</button><br><br>
							<button id="btnEtiquetas" type="button" style="display: none" class="btn btn-success" onclick="generarEtiquetas()">ETIQUETAS</button><br><br>
							<button id="btnCancelar" onclick="animacion(false)" type="button" class="btn btn-secondary btn-sm">CANCELAR</button>
						</div> 
					</div>
					<hr>
					<button id="btnReplicar" onclick="replicar()" class="btn btn-info btn-sm">REPLICAR</button><br><br>
					<table id="tablaProductos" class="table">
						<thead class="thead-dark">
				            <tr>
				            	<th>ID</th>
				            	<th>CODIGO</th>
				                <th>BIEN</th>
				                <th>DESCRIPCION</th>
				                <th>MARCA</th>
				                <th>MODELO</th>
				                <th>SERIE</th>
				                <th>COLOR</th>
				                <th>OBSERVACION</th>
				            </tr>
				        </thead>
				        <tbody>
				        </tbody>
					</table>
					<table id="tablaProductosGenerados" class="table">
						<thead class="thead-dark">
				            <tr>
				            	<th>CATALOGO</th>
				            	<th>CODIGO PATRIMONIAL</th>
				                <th>DESCRIPCION</th>
				            </tr>
				        </thead>
				        <tbody>
				        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<script type="text/javascript">
		var dataSelect;
		var dataGlobal;
	   	$(document).ready(function() {
	   		
	   		$('#tablaProductos').hide();
	   		$('#tablaProductosGenerados').hide();
	   		
	   		$.ajax({
	       		type : "GET",
	       		url : "marca",
		        dataType : 'json',
		        success : function(data) {
		        	dataGlobal = data;
		        	dataSelect = '<select onchange="actualizarModelos(this, this.closest(\'tr\').querySelector(\'.modelos\'))">';
		        	dataSelect +='<option value="0">Selecciona una marca</option>';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
		         		dataSelect +='<option value="'+ data[i].id +'">'+data[i].nombre+'</option>';
		         	}
		         	dataSelect+='</select>';
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	  	});
  	</script>
	
    <script type="text/javascript">
    
	    function buscarAdquisicion(){
    		var tabla = document.getElementById("tablaAdquisicion");
            var filas = tabla.getElementsByTagName("tr");
			for (var i = filas.length - 1; i > 0; i--) {
			    tabla.deleteRow(i);
			}
			var busqueda = $('#txtAdquisicion').val();
			if(busqueda == '' || busqueda.length < 3){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe ingresar parámetro correcto");	
				return false;
			}
			
			$.ajax({
	       		type : "GET",
	       		url : "adquisicion/buscar/" + busqueda,
		        dataType : 'json',
		        success : function(data) {
		        	var len = data.length;
		        	if(len == 0){
						toastr.clear();
						toastr.options = {
							"closeButton":true,
							"progressBar": true,
							"positionClass":"toast-topcenter-right"
						};
						toastr.warning("No se obtuvo resultados");	
		        	}
		        	
		         	for (var i = 0; i < len; i++) {

		                var fila = tabla.insertRow();

		                var celda1 = fila.insertCell(0);
		                var celda2 = fila.insertCell(1);
		                var celda3 = fila.insertCell(2);
		                var celda4 = fila.insertCell(3);
		                
		                celda1.innerHTML = data[i].documento;
		                celda2.innerHTML = data[i].fecRegistro;
		                var estado = data[i].estado == 'R' ? 'REGISTRADO' : 'GENERADO';
		                celda3.innerHTML = estado;
		                celda4.innerHTML = '<button type="button" class="btn btn-info btn-sm" onclick="verAdquisicion('+data[i].id+')"><i class="fas fa-eye"></i></button>';
		               
		         	}
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
		}
	    
	    
	    function verAdquisicion(id){

	        $.ajax({
	       		type : "GET",
	       		url : "adquisicion/" + id,
		        dataType : 'json',
		        success : function(data) {
		         	animacion(true);
		         	$('#txtId').val(data.id);
					$('#txtDocumento').val(data.documento);
					$('#txtFecAdquisicion').val(data.fecAdquisicion);
					$('#txtFecRegistro').val(data.fecRegistro);
					$('#txtEstado').val(data.estado == 'R' ? 'REGISTRADO' : 'GENERADO');
					
					if(data.estado == 'R'){
						$('#btnEtiqueta').hide();
						$('#btnGuardar').show();
				   		$('#tablaProductos').show();
				   		$('#tablaProductosGenerados').hide();
				   		
			    		var tabla = document.getElementById("tablaProductos");
			    		var tbody = tabla.querySelector('tbody');
			            var filas = tabla.getElementsByTagName("tr");
						for (var i = filas.length - 1; i > 0; i--) {
						    tabla.deleteRow(i);
						}
						
						for (var i = 0; i < data.detalleAdquisicion.length; i++) { 
							for (var j = 0; j < data.detalleAdquisicion[i].cantidad; j++) {
								var fila = tbody.insertRow();
		
					            var celda1 = fila.insertCell(0);
					            var celda2 = fila.insertCell(1);
					            var celda3 = fila.insertCell(2);
					            var celda4 = fila.insertCell(3);
					            var celda5 = fila.insertCell(4);
					            var celda6 = fila.insertCell(5);
					            var celda7 = fila.insertCell(6);
					            var celda8 = fila.insertCell(7);
					            var celda9 = fila.insertCell(8);
					            
					            celda1.innerHTML = data.detalleAdquisicion[i].catalogo.id;
					            celda2.innerHTML = data.detalleAdquisicion[i].catalogo.codigo;
					            celda3.innerHTML = data.detalleAdquisicion[i].catalogo.denominacion;
					            celda4.innerHTML = '<input type="text">';
					            celda5.innerHTML = dataSelect;
					            celda6.innerHTML = '<select class="modelos"><option value="0">Selecciona un modelo</option></select>';
					            celda7.innerHTML = '<input type="text">';
					            celda8.innerHTML = '<input type="text">';
					            celda9.innerHTML = '<input type="text">';
							}
						}
					}
					else{
						var data = obtenerProductosGenerados(id);
						
						$('#btnEtiqueta').show();
						$('#btnGuardar').hide();
				   		$('#tablaProductos').hide();
				   		$('#tablaProductosGenerados').show();
				   		
				   		var tabla = document.getElementById("tablaProductosGenerados");
			    		var tbody = tabla.querySelector('tbody');
			            var filas = tabla.getElementsByTagName("tr");
						for (var i = filas.length - 1; i > 0; i--) {
						    tabla.deleteRow(i);
						}
						
						for (var i = 0; i < data.length; i++) { 
							var fila = tbody.insertRow();
				            var celda1 = fila.insertCell(0);
				            var celda2 = fila.insertCell(1);
				            var celda3 = fila.insertCell(2);
				            celda1.innerHTML = data[i].codigo;
				            celda2.innerHTML = data[i].codigoPatrimonial;
				            celda3.innerHTML = data[i].descripcion;
						}
					}
					 
		        },
	        	error : function(e) {
	        	 	Swal.fire({
					  	icon: 'error',
					  	title: 'ATENCIÓN',
					  	text: 'No se pudo cargar los registros!!',
					});
		     	}
	      	});
	    };
		
		function animacion(flag){
		    var izquierdo = document.getElementById("divBusqueda");
		    var derecho = document.getElementById("divResultado");
			if(flag == true){
		    	izquierdo.style.width = "0%"; // Reducir el div izquierdo
		    	derecho.style.width = "100%"; // Expandir el div derecho
			}
			else{
				var tabla = document.getElementById("tablaProductos");
	            var filas = tabla.getElementsByTagName("tr");
				for (var i = filas.length - 1; i > 0; i--) {
				    tabla.deleteRow(i);
				}
				const cajasTexto = document.querySelectorAll('#divResultado input');
		    	cajasTexto.forEach(function(caja) {
		    	    caja.value = '';
		    	});
		    	izquierdo.style.width = "35%"; // Reducir el div izquierdo
		    	derecho.style.width = "65%"; // Expandir el div derecho
			}
		}
		
		function actualizarModelos(selectMarca, selectModelos) {
            const marcaId = parseInt(selectMarca.value);
            const marcaSeleccionada = dataGlobal.find(marca => marca.id === marcaId);

            selectModelos.innerHTML = '';

            if (marcaSeleccionada) {
                marcaSeleccionada.modelos.forEach(modelo => {
                    const option = document.createElement('option');
                    option.value = modelo.id;
                    option.textContent = modelo.nombre;
                    selectModelos.appendChild(option);
                });
            }
        }
		
		function replicar() {
			  
			var rows = 1;
			var tabla = document.getElementById('tablaProductos');
		  	var filaBase = tabla.rows[1];
	    	var primeraCeldaBase = filaBase.cells[0];
	    	var valorCeldaFilaBase = primeraCeldaBase.textContent || primeraCeldaBase.innerText;
		 	 
		  	var inputsBase = filaBase.getElementsByTagName('input');
		  	var selectBase = filaBase.getElementsByTagName('select')[0];
		  	var selectModeloBase = filaBase.getElementsByTagName('select')[1];
		  	
		  	var valorSeleccionadoBase = selectBase.value;
		  	var valorModeloBase = selectModeloBase.value;
		  
		  	for (var i = 2; i < tabla.rows.length; i++) {
		    	var filaActual = tabla.rows[i];
		    	var primeraCeldaActual = filaActual.cells[0];
		    	var valorCeldaFilaActual = primeraCeldaActual.textContent || primeraCeldaActual.innerText;
		    	
		    	if(valorCeldaFilaBase != valorCeldaFilaActual){
		    		primeraCeldaBase = filaActual.cells[0];
			    	valorCeldaFilaBase = primeraCeldaBase.textContent || primeraCeldaBase.innerText;
			    	
				  	inputsBase = filaActual.getElementsByTagName('input');
				  	selectBase = filaActual.getElementsByTagName('select')[0];
				  	selectModeloBase = filaActual.getElementsByTagName('select')[1];
				  	
				  	valorSeleccionadoBase = selectBase.value;
					valorModeloBase = selectModeloBase.value;
				  	continue;
		    	}
		    	
		    	var inputsActual = filaActual.getElementsByTagName('input');
		    	var selectActual = filaActual.getElementsByTagName('select')[0];
		    	var selectModeloActual = filaActual.getElementsByTagName('select')[1];
		    
		    	actualizarModelosReplica(selectBase, selectModeloActual);
		    	
		    	for (var j = 0; j < inputsBase.length; j++) {
		      		inputsActual[j].value = inputsBase[j].value;
		    	}
		    
		    	selectActual.value = valorSeleccionadoBase;
		    	selectModeloActual.value = valorModeloBase;
			}
		}
		
		function actualizarModelosReplica(selectMarca, selectModeloActual){
            const marcaId = parseInt(selectMarca.value);
            const marcaSeleccionada = dataGlobal.find(marca => marca.id === marcaId);

            selectModeloActual.innerHTML = '';

            if (marcaSeleccionada) {
                marcaSeleccionada.modelos.forEach(modelo => {
                    const option = document.createElement('option');
                    option.value = modelo.id;
                    option.textContent = modelo.nombre;
                    selectModeloActual.appendChild(option);
                });
            }
		}
		
		function guardarBienes(){
			var bienes = [];
			$('#tablaProductos tbody tr').each(function() {
				var bien = {};
				bien["idCatalogo"] = $(this).find("td:eq(0)").text();
				bien["descripcion"] = $(this).find("td:eq(3) input").val();
				bien["idModelo"] = $(this).find("td:eq(5) select").val();
				bien["serie"] = $(this).find("td:eq(6) input").val();
				bien["color"] = $(this).find("td:eq(7) input").val();
				bien["observacion"] = $(this).find("td:eq(8) input").val();
				bienes.push(bien);
			});
			var generaBienes = {
				idAdquisicion : $('#txtId').val(),
				bienes : bienes
			};
			
			if(2 == 0){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.error("Debe completar todos los campos!!");
    		}
    		else{
    			$.ajax({
    				type: "POST",
    				url: "bien/generar",
    				data: JSON.stringify(generaBienes),
    				cache: false,
    				dataType: "json",
    				contentType: "application/json; charset=utf-8",
    				processData: false,
    				success:function(response) {
    					var tabla = document.getElementById("tablaProductos");
    		            var filas = tabla.getElementsByTagName("tr");
    					for (var i = filas.length - 1; i > 0; i--) {
    					    tabla.deleteRow(i);
    					}
    					$('#txtEstado').val('GENNERADO');
    					Swal.fire(
    						'BIENES GENERADOS CORRECTAMENTE!!',
    						'Click en OK para continuar!',
    						'success'
    					);	
    				},
    		        error : function(response){
    		        	var r = jQuery.parseJSON(response.responseText);
    					toastr.clear();
    					toastr.options = {
    						"closeButton":true,
    						"progressBar": true,
    						"positionClass":"toast-topcenter-right"
    					};
    					toastr.warning(r.message);	
    		        }
    			});
    		}
		}
		
		function obtenerProductosGenerados(idAdquisicion){
			
			var response;
			$.ajax({
	       		type : "GET",
	       		url : "bien/" + idAdquisicion,
		        dataType : 'json',
		        success : function(data) {
		        	response = data;
		        }
		        ,
	        	error : function(e) {
	        	 	Swal.fire({
					  	icon: 'error',
					  	title: 'ATENCIÓN',
					  	text: 'No se pudo obtener los registros!!',
					});
		     	}
	      	});
			return response;
		}
		
	</script>

</body>
</html>