<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
		    text-align: center;
	    }
	    
	    label{
	    	font-weight: bold;
	    	width: 150px;
	    }

	</style>
</head>
<body>
	
	<div class="card card-body">
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto; display: flex;">
			<h3>REGISTRO NUEVA ADQUISICIÓN</h3><hr>
		</div>
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto; display: flex;">
			<div style="width: 50%;" id="divBusqueda" class="interno izquierdo">
				<label>N° DOCUMENTO: </label><input type="text" id="txtDocumento"> <br>
				<label>FECHA DOCUMENTO: </label><input type="date" id="txtFecAdquisicion"><br>
				<label>GUIA: </label><input type="text" id="txtGuia"><br>
				<label>PROVEEDOR: </label><input type="text" id="txtProveedor"><br>
				<label>REGULARIZAR: </label><input type="checkbox" id="checkRegularizar"><br>
				<label>TIPO ADQUISICIÓN: </label><select id="listTipo"></select> <button id="btnAgregar" type="button" class="btn btn-info btn-sm"><i class="fas fa-plus"></i></button>
			</div>
			<div style="width: 50%; padding: 10px" id="divResultado" class="interno derecho">
				<button id="btnAgregar" type="button" class="btn btn-primary" onclick="guardarAdquisicion()"><i class="fas fa-save"></i>&nbsp;GUARDAR</button>
			</div>
		</div><hr>
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto;">
			<label>GRUPO: </label><select id="listGrupo"></select>
			<label style="padding-left: 50px">CLASE: </label><select id="listClase"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button id="btnBuscar" onclick="obtenerCatalogo()" type="button" class="btn btn-info btn-sm"><i class="fas fa-search"></i></button><br>
			<label>DENOMINACIÓN: </label><select id="listCatalogo"></select><br>
			<label>CANTIDAD: </label><input type="number" id="txtCantidad"><br>
			<label>COSTO UNITARIO: </label><input type="text" id="txtCostoUnitario">
			<button id="btnAgregar" type="button" class="btn btn-black btn-sm" onclick="insertarProducto()"><i class="fas fa-download"></i></button>
			<hr>
			<table id="tablaCatalogo" class="table">
				<thead class="thead-dark">
		            <tr>
		                <th>ID</th>
		                <th>DENOMINACIÓN</th>
		                <th>CANTIDAD</th>
		                <th>COSTO UNITARIO</th>
		                <th>ELIMINAR</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
			</table>
		</div>

	</div>
	
	<script type="text/javascript">
	   	$(document).ready(function() {
	   		$.ajax({
	       		type : "GET",
	       		url : "grupoClase/grupos",
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].descripcion+'</option>';
		         	}
			        $("#listGrupo").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	   		
	      	$.ajax({
	       		type : "GET",
	       		url : "grupoClase/clases",
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].descripcion+'</option>';
		         	}
			        $("#listClase").html(html);
		        },
   		        error : function(response){
   		        	var r = jQuery.parseJSON(response.responseText);
   					toastr.clear();
   					toastr.options = {
   						"closeButton":true,
   						"progressBar": true,
   						"positionClass":"toast-topcenter-right"
   					};
   					toastr.warning(r.message);	
   		        }
	      	});
	      	
	      	$.ajax({
	       		type : "GET",
	       		url : "tipoAdquisicion",
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listTipo").html(html);
		        },
   		        error : function(response){
   		        	var r = jQuery.parseJSON(response.responseText);
   					toastr.clear();
   					toastr.options = {
   						"closeButton":true,
   						"progressBar": true,
   						"positionClass":"toast-topcenter-right"
   					};
   					toastr.warning(r.message);	
   		        }
	      	});
	    	
	  	});
  	</script>
	
    <script type="text/javascript"> 
		function obtenerCatalogo(){
			var idGrupo = $('#listGrupo').val();
			var idClase = $('#listClase').val();
			
			$.ajax({
	       		type : "GET",
	       		url : "catalogo?idGrupo=" + idGrupo + "&idClase=" + idClase,
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listCatalogo").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
		}
		
		function insertarProducto(){
			var idCatalogo = $('#listCatalogo').val();
			var textoSeleccionado = $('#listCatalogo option:selected').text();
			var cantidad = $('#txtCantidad').val();
			var costo = $('#txtCostoUnitario').val();
			
            if(idCatalogo == '' || cantidad == '' || cantidad < 0 || costo == '' || costo < 0){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar los datos necesarios");	
            	return;
            }

            // Obtener la tabla por su ID
            var tabla = document.getElementById("tablaCatalogo");
            
            if (cantidad === "") {
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe ingresar cantidad");	
                return false;
            }

            // Verificar si la fila ya existe en la tabla
            var filas = tabla.getElementsByTagName("tr");
            
            for (var i = 1; i < filas.length; i++) { // Empezamos desde 1 para omitir el encabezado
                var celdas = filas[i].getElementsByTagName("td");
                if (celdas[0].innerHTML === idCatalogo) {
    				toastr.clear();
    				toastr.options = {
    					"closeButton":true,
    					"progressBar": true,
    					"positionClass":"toast-topcenter-right"
    				};
    				toastr.warning("Ya existe un elemento en la tabla");	
                    return false; // Salir de la función si se encuentra un duplicado
                }
            }

            // Crear una nueva fila
            var fila = tabla.insertRow();

            // Crear celdas (columnas) en la fila
            var celda1 = fila.insertCell(0); // Primera columna
            var celda2 = fila.insertCell(1); // Segunda columna
            var celda3 = fila.insertCell(2); // Tercera columna
            var celda4 = fila.insertCell(3);
            var celda5 = fila.insertCell(4);
            
            // Asignar valores a las celdas
            celda1.innerHTML = idCatalogo;
            celda2.innerHTML = textoSeleccionado;
            celda3.innerHTML = cantidad;
            celda4.innerHTML = costo;
            celda5.innerHTML = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="eliminarFila(this)"><i class="fas fa-minus"></i></button>';
            
		}
		
        function eliminarFila(boton) {
            // Obtener la fila más cercana al botón
            var fila = boton.parentNode.parentNode;
            // Eliminar la fila
            fila.parentNode.removeChild(fila);
        }
        
        function guardarAdquisicion(){
    		var detalle = [];
    		var tabla = document.getElementById("tablaCatalogo");
            var filas = tabla.getElementsByTagName("tr");
            var documento = $('#txtDocumento').val();
            var fecAdquisicion = $('#txtFecAdquisicion').val();
            var checkbox = document.getElementById('checkRegularizar');
            
            if(documento == '' || fecAdquisicion == '' || filas.length == 1){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar los datos necesarios");	
            	return;
            }

            for (var i = 1; i < filas.length; i++) {
                var celdas = filas[i].getElementsByTagName("td");
                
                var idCatalogo = celdas[0].innerHTML;
                var cantidad = celdas[2].innerHTML;
                var cosoto = celdas[3].innerHTML;

                detalle.push({
                	idCatalogo: idCatalogo,
                    cantidad: cantidad,
                    costo: costo
                });
            }
            
            var adquisicion = {
            	documento: documento,
                fecAdquisicion: fecAdquisicion,
                idTipoAdquisicion: $('#listTipo').val(),
                regularizar: checkbox.checked ? 'S' : 'N', 
                detalle: detalle
            };
            
            $.ajax({
				type: "POST",
				url: "adquisicion",
				data: JSON.stringify(adquisicion),
				cache: false,
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				processData: false,
				success:function() {
					for (var i = filas.length - 1; i > 0; i--) {
					    tabla.deleteRow(i);
					}
					$('#txtDocumento').val('');
					$('#txtFecAdquisicion').val('');
					$('#txtCantidad').val('');
					
					Swal.fire(
						'ADQUISICION REGISTRADA CORRECTAMENTE!!',
						'Click en OK para continuar!',
						'success'
					);	
				},
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
			});
        }
	</script>

</body>
</html>