<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/loader.css" >
	
	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
			width: 300px;
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    label{
	    	width: 100px;
	    	font-weight: bold;
	    }

	</style>
</head>
<body>

	<div class="card card-body">
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto">
		<h3>REPORTES</h3>
		<hr>
			<div>
				<label>SEDE:</label><select id="listSedes" style="width: 500px;"></select><br><br>
				<div  style="width:100%; height: 100%; font-size: 12px; margin: auto; display: flex;">
					<div style="width: 20%;" align="left" id="divBusqueda">
						<label>ORGANOS:</label>
					</div>
					<div style="width: 50%;" align="left" id="divBusqueda">
						<select id="listOrganos" multiple style="width: 300px;" class="form form-control"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					<div style="width: 25%;" align="left" id="divBusqueda">
						<button type="button" class="btn btn-info btn-sm" onclick="buscarBienes()"><i class="fas fa-search"></i>&nbsp;BUSCAR</button>
					</div>
				</div>
			</div>
		</div>
		
		<iframe id="downloadIframe" style="display:none;"></iframe>
	</div>
	
	<div class="modal fade modalEspera" id="modalEspera" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
			    <div class="modal-body" align="justify">
			      	<div style="width:100%; height:100%">
		      			<div style=" margin: auto;" >
							<div style="position: relative; width: 100%; height: 100%;">
								<div style="background-color: white; width: 100%; height: 100%; padding-top:15px; padding-bottom: auto; padding-left: auto; padding-right: auto; " align="center">
									<div align="center">
										<img alt="ayuda" src="img/corte.png" width="250px">
									</div><br>
									<div class="col-sm-2" style="height: 150px">
						                <div class="container">
										      <div class="wrapper">
										        <div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										</div>
										<div class="text">
										<p><strong>ESPERE </strong></p></div>
										</div>
						            </div>
								</div>
							</div>
						</div>
	            	</div>
			    </div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
		  $('#listSedes').select2();
		});
	
		var sedes;
	   	$(document).ready(function() {
	   		$.ajax({
	       		type : "GET",
	       		url : "sede",
		        dataType : 'json',
		        success : function(data) {
		        	sedes = data;
		         	var html = '';
		         	var len = data.length;
		         	html+='<option value="0">Seleccione una sede</option>';
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listSedes").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	   	});
	   	
	   	$('#listSedes').change(function() {
            var id = $(this).val();

            $.ajax({
	       		type : "GET",
	       		url : "organo/" + id,
		        dataType : 'json',
		        success : function(data) {
		        	sedes = data;
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html+='<option value="' + data[i].id +'"><input type="checkbox" id="' + data[i].id +'">'+data[i].denominacion+'</option>';
		         	}
			        $("#listOrganos").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
        });
	   	
	   	function buscarBienes(){

	        var lista = $('#listOrganos').val();
	        var sede = $('#listSedes').val();
	        if(lista == '' || sede == '0'){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning('Debe seleccionar elementos');	
				return;
	        }
	        
	        $.ajax({
	            url: "bien/download/reporte?idSede=" + $('#listSedes').val() + "&idsOrgano=" + lista,  // URL del endpoint para descargar el archivo
	            method: 'POST',
				cache: false,
				contentType: "application/json; charset=utf-8",
				processData: false,
				xhrFields: {
			        responseType: 'blob'
			    },
	            beforeSend: function() {
	                $('#modalEspera').modal('show');
	            },
				success: function(response, status, xhr) {
					$('#modalEspera').modal('hide');
			        var filename = "";
			        var disposition = xhr.getResponseHeader('Content-Disposition');
			        if (disposition && disposition.indexOf('attachment') !== -1) {
			            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
			            var matches = filenameRegex.exec(disposition);
			            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
			        }

			        var type = xhr.getResponseHeader('Content-Type');
			        var blob = new Blob([response], { type: type });

			        if (typeof window.navigator.msSaveBlob !== 'undefined') {
						window.navigator.msSaveBlob(blob, filename);
			        } else {
			            var URL = window.URL || window.webkitURL;
			            var downloadUrl = URL.createObjectURL(blob);

			            if (filename) {
			                var a = document.createElement("a");
			                if (typeof a.download === 'undefined') {
			                    window.location = downloadUrl;
			                } else {
			                    a.href = downloadUrl;
			                    a.download = filename;
			                    document.body.appendChild(a);
			                    a.click();
			                }
			            } else {
			                window.location = downloadUrl;
			            }

			            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100);
			        }
			    },
				error : function(response) {
					var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.error('Error al descargar reporte');
				}
			    
	        });
	   	}
	</script>
</body>
</html>