<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
			width: 300px;
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    label{
	    	width: 150px;
	    	font-weight: bold;
	    }

	</style>
</head>
<body>

	<div class="card card-body">
		<div  style="width:60%; height: 100%; font-size: 11px; margin: auto">
			<h3>TRAZABILIDAD DE BIENES</h3>
			<label>CÓDIGO PATRIMONIAL: </label><input style="width: 100px" type="text" id="txtCodigo" onkeydown="handleEnterCodigo(event)">
			<hr>
			<input type="hidden" id="txtId">
			<label>CÓDIGO: </label><input type="text" id="txtCodigoPatrimonial"> <br>
			<label>CATÁLOGO: </label><input type="text" id="txtCatalogo"> <br>
			<label>DESCRIPCIÓN: </label><input type="text" id="txtDescripcion"> <br>
			<label>CONSERVACIÓN ACTUAL: </label><input type="text" id="txtConservacionActual"> <br>
			<label>ESTADO ACTUAL: </label><input type="text" id="txtEstadoActual"> <br>
			<label>EMPLEADO ACTUAL: </label><input type="text" id="txtEmpleadoActual"> <br>
			<label>UBICACIÓN ACTUAL: </label><input type="text" id="txtUbicacionActual"> <br>
			<label>ADQUISICION: </label><input type="text" id="txtAdquisicion"> <br>
			<hr>
			<table id="tablaTrazabilidad" class="table">
				<thead class="thead-dark">
		            <tr>
		                <th>F. REGISTRO</th>
		                <th>ESTADO</th>
		                <th>CONSERVACION</th>
		                <th>EMPLEADO</th>
		                <th>OBSERVACIÓN</th>
		                <th>ACTA</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
			</table>

		</div>
	</div>
	
	    <!-- Modal -->
    <div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLabel">Vista del acta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="documentFrame" src="" width="100%" height="600px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    
	<script type="text/javascript">

	 </script>
	 
	 <script>
			 
		function handleEnterCodigo(event) {
	         if (event.key === "Enter") {

	         	var codigo = $('#txtCodigo').val();
	         	$('#txtCodigo').val('');
	         	if(codigo.length != 12){
						toastr.clear();
						toastr.options = {
							"closeButton":true,
							"progressBar": true,
							"positionClass":"toast-topcenter-right"
						};
						toastr.warning("Código no es correcto!!");
						return;
	         	}
	         	
	         	var tabla = document.getElementById("tablaTrazabilidad");
	    		var tbody = tabla.querySelector('tbody');
	            var filas = tabla.getElementsByTagName("tr");
				for (var i = filas.length - 1; i > 0; i--) {
				    tabla.deleteRow(i);
				}
				
	         	$.ajax({
	 	       		type : "GET",
	 	       		url : "bien/trazabilidad/" + codigo,
	 		        dataType : 'json',
	 		        success : function(data) {
	 		        	$('#txtCodigoPatrimonial').val(data.codigo);
	 		        	$('#txtCatalogo').val(data.catalogo);
	 		        	$('#txtDescripcion').val(data.descripcion);
	 		        	$('#txtConservacionActual').val(data.conservacionActual);
	 		        	$('#txtEstadoActual').val(data.estadoActual);
	 		        	$('#txtEmpleadoActual').val(data.empleadoActual);
	 		        	$('#txtUbicacionActual').val(data.ubicacionActual);
	 		        	for (var i = 0; i < data.detalle.length; i++) { 
		 		        	var fila = tbody.insertRow();
		
		 		            var celda1 = fila.insertCell(0);
		 		            var celda2 = fila.insertCell(1);
		 		            var celda3 = fila.insertCell(2);
		 		            var celda4 = fila.insertCell(3);
		 		           	var celda5 = fila.insertCell(4);
		 		           	var celda6 = fila.insertCell(5);
		 		            
		 		            celda1.innerHTML = data.detalle[i].fecRegistro;
		 		            celda2.innerHTML = data.detalle[i].estado;
		 		           	celda3.innerHTML = data.detalle[i].conservacion;
		 		            celda4.innerHTML = data.detalle[i].empleado;
			 		        celda5.innerHTML = data.detalle[i].observaciones;
			 		        var botonActa = data.detalle[i].idActa != null ? '<button type="button" class="btn btn-outline-danger btn-sm" onclick="abrirActa(' + data.detalle[i].idActa + ')"><i class="fas fa-file-pdf fa-lg"></i></button>' : '';
		 		           	celda6.innerHTML = botonActa;
	 		        	}
	 		        },
	 		        error : function(response){
	 		        	var r = jQuery.parseJSON(response.responseText);
	 					toastr.clear();
	 					toastr.options = {
	 						"closeButton":true,
	 						"progressBar": true,
	 						"positionClass":"toast-topcenter-right"
	 					};
	 					toastr.warning(r.message);	
	 		        }
	 	      	});
	         }
	     }
		
	    function abrirActa(id) {
	    	$.ajax({
	            url: 'acta/pdf/' + id,
	            method: 'GET',
	            xhrFields: {
	                responseType: 'blob' // Importante para manejar archivos binarios
	            },
	            success: function(data) {
	                // Convertir la respuesta en un Blob y generar un objeto URL
	                const blob = new Blob([data], { type: 'application/pdf' });
	                const url = URL.createObjectURL(blob);

	                // Configurar el iframe con el archivo
	                $('#documentFrame').attr('src', url);

	                // Mostrar el modal
	                const modal = new bootstrap.Modal(document.getElementById('documentModal'));
	                modal.show();
	            },
	            error: function(response) {
	                if (response.responseJSON) {
	                    // Si el backend devolvió un JSON válido
	                    toastr.warning(response.responseJSON.message);
	                } else if (response.responseText) {
	                    try {
	                        // Intentar parsear el texto como JSON
	                        var jsonResponse = JSON.parse(response.responseText);
	                        toastr.warning(jsonResponse.message);
	                    } catch (e) {
	                        // Si no se puede parsear, es otro tipo de error
	                        toastr.error("Error inesperado: " + response.statusText);
	                    }
	                } else {
	                    toastr.error("Error inesperado: No se pudo procesar la solicitud.");
	                }
	            }
	        });
	    }
        
        function guardarMovimiento() {
         	var tabla = document.getElementById("tablaBienes");
            var filas = tabla.getElementsByTagName("tr");
            
            var bienes = [];
            
        	var idEmpleado = $('#txtIdEmpleado').val();
        	if(idEmpleado == '' || filas < 2 || $('#listArea').val() == ''){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar toda información requerida");
				return;
        	}
        	
			$('#tablaBienes tbody tr').each(function() {
				var bien = {};
				bien["codigoPatrimonial"] = $(this).find("td:eq(0)").text();
				bien["estadoConservacion"] = $(this).find("td:eq(2) select").val();
				bien["observacion"] = $(this).find("td:eq(3)").text();
				bienes.push(bien);
			});
            
            var movimiento = {
            	idEmpleado : idEmpleado,
            	correo : $('#txtCorreo').val(),
            	tipo : $('#listTipo').val(),
            	idArea : $('#listArea').val(),
            	bienes: bienes
            };
        	
            $.ajax({
				type: "POST",
				url: "acta",
				data: JSON.stringify(movimiento),
				cache: false,
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				processData: false,
				success:function(response) {
					var tabla = document.getElementById("tablaBienes");
		            var filas = tabla.getElementsByTagName("tr");
					for (var i = filas.length - 1; i > 0; i--) {
					    tabla.deleteRow(i);
					}
					Swal.fire(
						'MOVIMIENTO REGISTRADO CORRECTAMENTE!!',
						'Click en OK para continuar!',
						'success'
					);	
				},
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
			});
            
        }
        
        function eliminarFila(boton) {
            var fila = boton.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }
        
    </script>
</body>
</html>