<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<style type="text/css">
	 	.selected{ background-color: #E1E1E1; } tr:hover{ background-color: #E1E1E1; } 

		input{
	    	border:0;
		    border-bottom: 1px solid #009CBF;
		    font-size: 11px;
	    }
	    
	    .modalLabel{
	    	width: 100px;
	    	font-weight: bold;
	    }

	</style>
</head>
<body>
	
	<div class="card card-body">
		<div style="width:100%; height: 100%; font-size: 11px" id=solicitud>
			<h3>GESTIÓN DE USUARIOS</h3>
			<hr>
			<button type="button" onclick="modalUsuario()" class="btn btn-info btn-sm">NUEVO</button><br><br>
			<table id="tablaUsuarios" class="table">
				<thead class="thead-dark">
		            <tr>
		                <th>ID</th>
		                <th>DNI</th>
		                <th>NOMBRES</th>
		                <th>APELLIDOS</th>
		                <th>PERFIL</th>
		                <th>ESTADO</th>
		                <th>EDITAR</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
			</table>

		</div>
	</div>
	
	<div class="modal fade modalUsuario" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">GESTIÓN DE USUARIO</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	      	<div id="divBusqueda">
		      	<label>INGRESE DNI: </label>
		        <input id="dniNuevoUsuario" size="10" class="dniNuevoUsuario" type="text" maxlength="8" onkeypress="return numbersonly(event)"/>
		        <button type="button" class="btn btn-info btn-sm btnBuscar" onclick="buscarDni()"><i class="fas fa-fingerprint fa-lg"></i></button>
		    </div>
	      	<hr style="height:1px" color="#911A00">
	      	

        	<div id="divUsuario" class="form-row">
        		<input id="id" type="hidden">
                <div class="form-group col-md-3">
                    <label>DNI </label>
                	<input name="dni" id="dni" class="form-control form-control-sm" readonly="readonly">
               	</div>
               	<div class="form-group col-md-6">
                	<label>NOMBRES </label>
                     <input type="text" name="nombres" id="nombres" class="form-control form-control-sm" readonly="readonly">
                </div>
                 <div class="form-group col-md-6">
                	<label>APELLIDOS </label>
                    <input type="text" name="apellidos" id="apellidos" class="form-control form-control-sm" readonly="readonly">
                </div>
            </div>

              <div class="form-row">
                   <div class="form-group col-md-5">
                   	<label>USUARIO </label>
                   	<input onkeypress="return lettersonlywithoutspace(event)" style="text-transform:uppercase;" required type="text" name="login" id="login" class="form-control form-control-sm">
              		</div>
			  	<div class="form-group col-md-5">
			  		<label>PERFIL </label>
			      	<select id="perfil"  name="perfil" class="form-control form-control-sm ">
			     	</select>
			    </div> 
			    <div class="form-group col-md-2">
			  		<label>ESTADO</label>
			      	<select id="estado" class="form-control form-control-sm ">
			      		<option value="A">ACTIVO</option>
			      		<option value="I">INACTIVO</option>
			     	</select>
			    </div> 
				<div class="form-group col-md-6">
                   	<label>CORREO</label>
                    <input type="text" id="correo" name="correo" class="form-control form-control-sm ">
                </div>

			</div>
			<hr style="height:1px" color="#911A00">
			<div align="right">
	        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">CERRAR</button>
	        <button type="button" class="btn btn-primary btnGuardar" onclick="guardarUsuario()"><i class="fas fa-save fa-lg"></i>&nbsp;GUARDAR</button>
	        </div>

				      
	      </div>
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript">
	   	$(document).ready(function() {
	   		listarUsuarios();
	   		
	   		$.ajax({
	       		type : "GET",
	       		url : "perfil",
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {
						html += '<option value="'+data[i].id+'">'+data[i].descripcion+'</option>';
		         	}
		         	$("#perfil").html(html);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
	  	});
	   	
  	</script>
	
    <script type="text/javascript">
    	
    	function modalUsuario(){
    		limpiarControles();
    		$('#login').prop('readonly', false);
    		$('#divBusqueda').show();
    		$('#modalUsuario').modal('show');
    	}
    	
    	function buscarDni(){
    		var dni = $('#dniNuevoUsuario').val();
    		if(dni == '' || dni.length != 8){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe ingresar DNI correcto");	
    			return false;
    		}
    			
    		$.ajax({
	       		type : "GET",
	       		url : "usuario/buscar/" + $('#dniNuevoUsuario').val(),
		        dataType : 'json',
		        success : function(data) {
		        	$("#id").val(data.id);
					$("#dni").val(data.dni);
					$("#nombres").val(data.nombres);
					$("#apellidos").val(data.apellidos);
					$("#correo").val(data.correo);
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
    	}
    
    	function listarUsuarios(){
    		var tabla = document.getElementById("tablaUsuarios");
	   		$.ajax({
	       		type : "GET",
	       		url : "usuario",
		        dataType : 'json',
		        success : function(data) {
		         	var html = '';
		         	var len = data.length;
		         	for (var i = 0; i < len; i++) {

		                var fila = tabla.insertRow();

		                var celda1 = fila.insertCell(0);
		                var celda2 = fila.insertCell(1);
		                var celda3 = fila.insertCell(2);
		                var celda4 = fila.insertCell(3);
		                var celda5 = fila.insertCell(4);
		                var celda6 = fila.insertCell(5);
		                var celda7 = fila.insertCell(6);
		                
		                celda1.innerHTML = data[i].id;
		                celda2.innerHTML = data[i].dni;
		                celda3.innerHTML = data[i].nombres;
		                celda4.innerHTML = data[i].apellidos;
		                celda5.innerHTML = data[i].perfil.descripcion;
		                var estado = data[i].estado == 'A' ? 'ACTIVO' : 'INACTIVO';
		                celda6.innerHTML = estado;
		                celda7.innerHTML = '<button type="button" class="btn btn-outline-warning btn-sm" onclick="editarUsuario('+data[i].id+')"><i class="fas fa-edit"></i></button>';
		               
		         	}
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
	      	});
    	}
    	
    	function editarUsuario(id){
    		$('#login').prop('readonly', true);
    		$('#divBusqueda').hide();
    		$.ajax({
	       		type : "GET",
	       		url : "usuario/"+id,
		        dataType : 'json',
		        success : function(data) {
					$('#modalUsuario').modal('show');
					$('#id').val(data.id);
					$('#dni').val(data.dni);
					$('#nombres').val(data.nombres);
					$('#apellidos').val(data.apellidos);
					$('#login').val(data.login);
					$('#correo').val(data.correo);
					const selectElement = document.getElementById("perfil");
		            selectElement.value = data.perfil.id;
						
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);	
		        }
    		});
    	}
	   
	    
		function guardarUsuario(){
			if($("#correo").val() == '' || $("#login").val() == ''){
				toastr.clear();
				toastr.options = {
					"closeButton":true,
					"progressBar": true,
					"positionClass":"toast-topcenter-right"
				};
				toastr.warning("Debe completar todos los campos");
				return;
			}
			
			var usuario = {
				id : $("#id").val(),
				correo : $("#correo").val(),
				idPerfil : $("#perfil").val(),
				estado : $("#estado").val(),
				login : $('#login').val()
			}
			
			$.ajax({
	       		type : "PUT",
	       		url : "usuario",
		        dataType : 'json',
				data: JSON.stringify(usuario),
				cache: false,
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				processData: false,
		        success : function(data) {
					$("#modalUsuario").modal('hide');
					var tabla = document.getElementById("tablaUsuarios");
					var filas = tabla.getElementsByTagName("tr");
					for (var i = filas.length - 1; i > 0; i--) {
					    tabla.deleteRow(i);
					}
					limpiarControles();
					listarUsuarios();
					Swal.fire(
						'USUARIO REGISTRADO CORRECTAMENTE!!',
						'Click en OK para continuar!',
						'success'
					);	
		        },
		        error : function(response){
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);
		     	}
	      	});
		}
		
		function limpiarControles(){
			const cajasTexto = document.querySelectorAll('#modalUsuario input');
    		cajasTexto.forEach(function(caja) {
    		    caja.value = '';
    		});
    		
    		const selects = document.querySelectorAll('#modalUsuario select');
    		selects.forEach(function(select) {
    			select.selectedIndex = 0;
    		});
		}
	</script>

</body>
</html>