<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>PLATAFORMA DE ATENCION Y SERVICIOS</title>
	<link rel="icon" type="img/jpg" href="img/pj.jpg" />
	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/icons.js"></script>
	<script src="../js/sweetalert2.all.min.js"></script>	
	<script src="../js/toastr.min.js"></script>
	
	<link rel="stylesheet" href="../css/loader.css" >	
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/all.min.css">
	<link rel="stylesheet" href="../css/estilo.css" >
	<link rel="stylesheet" href="../css/toastr.min.css" >

	<style type="text/css">
		#divReporte {
			display: none;
		}
		input{
    		border:0;
	    	border-bottom: 1px solid #009CBF; 
    	}
    	input:focus{
			outline:none !important;
	    	outline-width: 0 !important;
	   		box-shadow: none;
	    	-moz-box-shadow: none;
	    	-webkit-box-shadow: none;
	    }
		.carousel-control-next, .carousel-control-prev {
		    filter: invert(100%);
		}

	</style>
</head>
<body>
	<div  style="background-color: #4E0000;">
		<div id="cabecera" style="padding-top: 10px;padding-bottom: 1px" align="center">
			<a href="/" style="text-decoration:none;"><img alt="ayuda" src="../img/pj.svg" width="20px">&nbsp;&nbsp;&nbsp;</a><a style="color:white;  text-decoration:none;" href="principal"><strong>CORTE SUPERIOR DE JUSTICIA DE AREQUIPA</strong></a>
			<p style="color: white;font-size:15px;"><strong>PLATS - Plataforma de Control Patrimonial</strong></p>	
		</div>
	</div>
	<div style="background-color: #790000; padding:0px; border-bottom: 5px solid #C4C4C4;">
	</div>
	<div id="divContenido" style="width: 50%; height: 75%; margin: auto; padding: 40px">
		<h2 th:text="${dto.mensaje}"></h2>
		<hr>
		<div th:if="${(dto.status == 'OK')}">
			<form enctype="multipart/form-data" id="formDatos">	
				<input th:value="${dto.idActa}" id="id" type="hidden" class="id">
				<label style="width: 150px;"><strong>NÚMERO ACTA: </strong></label><input style="font-weight: bold" th:value="${dto.numeroActa}" id="nombres" readonly="readonly" size="40"><br>
				<label style="width: 150px;"><strong>FECHA: </strong></label><input style="font-weight: bold" th:value="${#temporals.format(dto.fecha, 'dd-MM-yyyy hh:mm:ss a')}" id="nombres" readonly="readonly" size="20"><br>
				<label style="width: 150px;"><strong>NOMBRES: </strong></label><input style="font-weight: bold" th:value="${dto.nombresApellidos}" id="nombres" readonly="readonly" size="40"><br>
				<label style="width: 150px;"><strong>CARGUE EL ACTA: </strong></label><input type="file" id="txtArchivo" >
				<div style="width: 100%; margin: auto; padding: 40px" align="center">
					<button class="btn btn-primary" type="button" id="btnEnviar" onclick="confirmar()">ENVIAR</button>
				</div>
			</form>
		</div>
	</div>
	
	<div class="modal fade modalEspera" id="modalEspera" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
			    <div class="modal-body" align="justify">
			      	<div style="width:100%; height:100%">
		      			<div style=" margin: auto;" >
							<div style="position: relative; width: 100%; height: 100%;">
								<div style="background-color: white; width: 100%; height: 100%; padding-top:15px; padding-bottom: auto; padding-left: auto; padding-right: auto; " align="center">
									<div align="center">
										<img alt="ayuda" src="img/corte.png" width="250px">
									</div><br>
									<div class="col-sm-2" style="height: 150px">
						                <div class="container">
										      <div class="wrapper">
										        <div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										<div class="loader">
										          <div class="dot">
										</div>
										</div>
										</div>
										<div class="text">
										<p><strong>ESPERE</strong></p></div>
										</div>
						            </div>
								</div>
							</div>
						</div>
	            	</div>
			    </div>
			</div>
		</div>
	</div>

	
		
	<footer style="background-color: black;  left: 0;  bottom: 0;  width: 100%; position: fixed; color: white;  text-align: center;">		
		<div style="margin:0px auto ;   width:100%;   overflow: hidden; padding-top: 5px" class="form-row">
			<div style="width: 10%;font-size: 11px">Powered by Jorge F.C.R. <i class='fab fa-java' style='font-size:20px'></i><br>Cel. 999039040</div>
			<div style="width: 80%">
			<p style="color: white; font-size: 11px"> Corte Superior de Justicia de Arequipa  - Plaza España S/N - Arequipa - Perú<br> &copy; PLATS v2.7 - Todos los derechos reservados </p>
			</div>
			<div style="width: 10%"><i class="fas fa-tools"></i>&nbsp;<a id="btnUtilitarios" type="button">Utilitarios</a></div>
		</div>
	</footer>

	<script type="text/javascript">
	
	function confirmar() {

		if($('#txtArchivo').val() == ''){
			toastr.clear();
			toastr.options = {
				"closeButton":true,
				"progressBar": true,
				"positionClass":"toast-topcenter-right"
			};
			toastr.warning("Debe adjuntar pdf firmado!!");
			return false;
		}
		
        var formData = new FormData();
        var file = $('#txtArchivo')[0].files[0];

        formData.append("id", $('#id').val());
        formData.append("adjunto", file);
		
		$.ajax({
			type:"PUT",
			url:"confirmar",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
			beforeSend:function(){
	            $('#modalEspera').modal('show');
	        },
			success:function(response) {
				$('#modalEspera').modal('hide');
				$('#btnEnviar').hide();
				Swal.fire(
				  'ACTA FUE ENVIADO CON ÉXITO!!',
				  'Click en OK para continuar!',
				  'success'
				);
			},
	        error : function(response){
	        	setTimeout(function() {
	        		$('#modalEspera').modal('hide');
		        	var r = jQuery.parseJSON(response.responseText);
					toastr.clear();
					toastr.options = {
						"closeButton":true,
						"progressBar": true,
						"positionClass":"toast-topcenter-right"
					};
					toastr.warning(r.message);
		        }, 2000);
	        }
		
		});
	};	
	
	</script>
</body>
</html>